{% extends 'base.html' %}
{% block main %}

  <main>
    <article>
      <h2>Redes Sociais</h2>
      <p> Github: <a href="https://github.com/Scareev" target="blank"> Scareev</a> </p> 
      <p> Youtube: <a href="https://www.youtube.com/@scareev" target="blank"> Scareev </a> </p> 
      <p> Email comecial: pistachechamatte@protomail.com</p>
    </article>  
<article>
  <form>
      <label for="fname">Seu nome: </label>
      <input type="text" id="fname" name="fname"><br><br>
      <label for="lname">Seu Email: </label>
      <input type="text" id="lname" name="lname"><br><br>
      <label for="lname">Descrição: </label>
      <input type="text" id="lname" name="lname" style="height: 40px;"><br><br>
      <input type="submit" value="Enviar">
  </form>
</article>  
  </main>

{% endblock %}


