{% extends 'base.html' %}
{% block main %}

  <main>
    <article>
      <h2>Sobre nós</h2>
      <p> Site criado por <b>Heitor Galvão Junqueira.</b></p>
      <p> Músico e Programador.</p>
      <p> Este site foi criado com uma missão: Ensinar teoria musical de qualidade para todo mundo! O maior
        problema é a falta de uma educação centralizada com um conteúdo que deveria ter um acesso universal e 
        democrático para todos! </p>
      <p>Usuários podem postar seu progresso com nossa comunidade! Apenas siga as diretrizes
        primeiro.</p>
      
    </article>  

  </main>



{% endblock %}


