{% extends 'base.html' %}
{% block main %}


<main class="border border-5 rounded rounded-5 bg-secondary">
  <div class="container-xl">
    <h2 class="p-2">Bem vindo, futuro compositor.</h2>
    <p class="p-2"> Este site é sobre teoria musical e seus fundamentos harmônicos. Além disso uma compreensão
      ampla sobre estruturas complexas. </p>
        <p class="p-2"> Há diversas maneiras de você se expressar musicalmente, porém você vai ter mais liberdade composicional
      se aprender alguns fundamentos de forma simplificada, dinâmica e direta!     </p>
        </div>

  <div class="container-xl bg-primary">
    <h1>Início</h1>
    <p class="p-2"> Quer começar a aprender agora?  </p>
    <button class="p-5 mb-3 btn btn-info"><a href="{{url_for('content')}}">Começe aqui</a></button>
  </div>
</main>

{% endblock %}