{% extends 'base.html' %}
{% block main %}

  <main class="border border border-dark-subtle rounded rounded-5 mx-5 contentbg">
    <div class="p-5">
      <h2>CONTEÚDO PRINCIPAL</h2>
      <h3><b>BÁSICO (ESTRUTURA)</b></h3>
      <ol>
        <li>Melodia</li>
        <li>Harmonia</li>
        <li>Rítimo</li>
      </ol>
      <h3><b>BÁSICO (NOÇÃO)</b></h3>
      <ol>
        <li>Notas</li>
        <li>Intervalos</li>
        <li>Senso rítimico</li>
        <li>CONTEÚDO 4  </li>
      </ol>
      <h3><b>SOUND DESIGN</b></h3>
      <ol>
        <li>Envelope</li>
        <li>As 4 ondas princiipais</li>
        <li>CONTEÚDO 3</li>
      </ol>
      <h3><b>PRODUÇÃO</b></h3>
      <ol>
        <li>DAWs</li>
        <li>Interface básica</li>
        <li>Básicos da Mixagem</li>
      </ol>
    </div>  
  </main>



{% endblock %}


