{% extends 'base.html' %}
{% block main %}
    <div class="p-4">
        <h1>Bem-vindo, Tiagilsonfarofa.</h1>

        <div class="p-4" style="max-width: 75%; margin: 0 auto; line-height: 1.6;">
            <h4>Para o maior comapnheiro de vã e insano vizinho do edifício penedo 🎮</h4>

            <p>TIAGOOOOOOO, muito obrigado por sempre estar junto conosco cara, eu te considero demais.</p>

            <p>Em 2025 foi muito legal toda vez que a gente fazia os rolês do luna, eu não consigo não rachar o bico com sua presença, tu é mt foda cara KKKKKKKKKK, tu consegue realmente levar o astral do pessoal lá pra cima, impossivel alguém ficar do seu lado e estar triste, são coisas que se acontecer o universo colapsa... Além de tudo isto é um arduído pensador (não sei se essa palvra existe) e já falou coisas que me deixou em reflexões insanas, como as vezes em que a gente voltava da vã e falava em inglês, e aquilo realmente me ajudou nas pronuncias kkkkkkkkk não ironicamente.</p>

            <p>Bem, eu espero que 2026 seja um ano em que você possa alcançar suas metas, eu espero que a gente consiga trabalhar junto no Luna mais vezes, mais calls e mais tudo! Deus abençoe você e sua família e saiba que você é um amigo incrivel cara... Gosto muito de ti tiago</p>

            <p>ATÉ O ESTRELA 2026!!!! BORAAAAAAAAAAAA</p>

            <p style="color: gray"><small><i>Você recebeu uma senha especial, que só poderá ser usada se todos compartilharem um fragmento dela.</i></small></p>
            <p style="color: gray"><small><i>Seu fragmento é: </i></small><h3>"O"</h3></p>

            <a href="pages/newyear" class="btn btn-danger">Voltar</a>
        </div>
    </div>
{% endblock %}