{% extends 'base.html' %}
{% block main %}
    <div class="p-4">
        <h1>Bem-vindo, Julio.</h1>

        <div class="p-4" style="max-width: 75%; margin: 0 auto; line-height: 1.6;">
            <h4>Para o marechal e maior lutador já existente 🎮</h4>

            <p>Cara, o que falar??? De você é muitas coisas que eu consigo te elogiar cara...</p>

            <p>Em 2025 foi muito legal sua companhia todas as vezes em que nos vimos, eu guardo especialmente o dia em que te encontrei aleatóriamente no shopping... QUE SINAL ARGATHIANO FOI AQUELE???</p>

            <p>Uma coisa que contarei em segredo é que todo rolê que você vai o clima sempre está de alto astral, nunca houve tantos rolês bons no luna quanto 2025, e você com certeza foi o maior agregador disto. Sua energia e atitude são admiriáveis e não minto quando tento me inspirar em você em vários sentidos, além da sua disciplina e vontade de fazer as coisas, seus sonhos e metas são tão sólidos quanto a carne do Léo Stronda (e acredite, é bem sólido) Cara... Só te desejo coisas incríveis e um futuro tão próspero que se tu contar vira lenda urbana, de tão insano que foi kkkkkkkkk Alias queria agradecer ao seu irmão por ter feito uma ÓTIMA mesa de RPG e genuinamente me deixar hypado para jogar mais D&D, EU AGORA SOU UM DUNGEON E DRAGON :()!!!</p>

            <p>Sempre brilhe Júlio! Nunca pare e sempre voa, e sempre vá no estrela (ou brilhe como uma), ATÉ 2026!!!</p>

            <p style="color: gray"><small><i>Você recebeu uma senha especial, que só poderá ser usada se todos compartilharem um fragmento dela.</i></small></p>
            <p style="color: gray"><small><i>Seu fragmento é: </i></small><h3>"A"</h3></p>

            <a href="pages/newyear" class="btn btn-danger">Voltar</a>
        </div>
    </div>
{% endblock %}