{% extends 'base.html' %}
{% block main %}
    <div class="p-4">
        <h1>E enfim... A todo mundo!</h1>

        <div class="p-4" style="max-width: 75%; margin: 0 auto; line-height: 1.6;">
            <h4>Para o grupo em geral 🎮</h4>

            <p>Obrigado a todos por 2025 ser um ano maravilhoso! Para mim pessoalmente foi um ano muito legal e bem insano, o que costuma ser uma ano muito triste para muitos jovens pois é o fim do ensino médio, para mim foi gratificante e a prova viva que será uma amizade de anos!</p>

            <p>A escência do Luna é algo revigorante, eu ter vocês no caminhar da minha jornada definitvamente é o maior presente que eu posso receber todos os dias! A sessão de aniversários que a gente fez foi MUUUUITO legal, cada um dos aniversários foi insanamente gostoso de participar, e pela primeira vez tive uma festa surpresa também, cara... Muito obrigado por aquele dia, eu fico emocionado só de lembrar daquilo.</p>

            <p>Galera 2026 será tão grandioso que vai parecer mentira, mas não tenho dúvidas da prosperidade que nossos trabalhos vão gerar! Se o Luna realmente crescer agora, será um sonho meu sendo realizado!!! Eu amo cada um de vocês, contem comigo para qualquer coisa, eu estou muito ancioso para o que vai acontecer ano que vem.</p>

            <p>Feliz 2026 e até outro rolê!!!</p>

            <a href="pages/newyear" class="btn btn-danger">Voltar</a>

        </div>
    </div>
{% endblock %}