{% extends 'base.html' %}
{% block main %}
    <div class="p-4">
        <h1>Bem-vindo, Caio.</h1>

          <div class="p-4" style="max-width: 75%; margin: 0 auto; line-height: 1.6;">
            <h4>Para o Godotmaster e maior Ordo-Realito já existente 🎮</h4>
            <p>Como você teve contato com o outro lado, quer conhecer meu outro lado? 😏</p>

            <p>To falando abobrinha, mas enfim... Caio muito obrigado por proporcionar muitas coisas legais este ano, a campanha de Forgotten Ruins e acompanhar o Hexatombe com você e o pessoal realmente foi bem divertido, e eu ainda espero fazer mais disto com vocês, e eu não sei se tu tlgd mas eu não era muito fã de RPG, e agora faz parte do meu acervo intelectual 😎</p>

            <p>Outra coisa foram as grandes mudanças do Luna e afins, do jeito que o Luna está andando eu fico bem feliz que a gente esteja aos poucos se profissionalizando oficialmente como estúdio, e claro que tem várias coisas para a gente poder oficializar esta mudança, mas que está acontecendo é um sonho sendo realizado, e COM CERTEZA se não fosse por você pegar isso e levar pra frente, nada disto estaria acontecendo, vc está realizando o sonho de muita gente, um sonho coletivo que eu tenho fé que vai dar certo pra caramba!</p>

            <p>Além disto o meu maior agradecimento é em relação as coisas da FATEC, idependente do momento você sempre me ajudou em todas as questões, sejam da faculdade ou até em momentos difíceis, eu só tenho a agradecer por todas as vezes que você deu seu tempo para conversar e aconselhar em várias coisas, sempre conte comigo para qualquer coisa mesmo, mesmo MESMO!</p>

            <p>2026 vai ser redentor em todos os sentidos. Até o estúdio 😎!</p>

            <p style="color: gray"><small><i>Você recebeu uma senha especial, que só poderá ser usada se todos compartilharem um fragmento dela.</i></small></p>
            <p style="color: gray"><small><i>Seu fragmento é: </i></small><h3>"E"</h3></p>

            <a href="pages/newyear" class="btn btn-danger">Voltar</a>
        </div>

    </div>
{% endblock %}
