{% extends 'base.html' %}
{% block main %}
    <div class="p-4">
        <h1>Bem-vindo, Elizabete.</h1>

        <div class="p-4" style="max-width: 75%; margin: 0 auto; line-height: 1.6;">
            <h4>Para a mestre do Fortnite e Overwatch 🎮</h4>
            <p>Frente a frente com a maior jogadora de Fortnite e Overwatch... OQ Q EU FALO???</p>

            <p>Bem, acho que já devo ter falado muita coisa ao longo do tempo, mas não posso deixar de agradecer por mais um ano! Você e o pessoal me deram um incentivo enorme para poder entrar na FATEC... Isso foi um marco muito grande pessoalmente para mim, e estou feliz que a gente pode estar estudando juntos por mais alguns anos! É muito difícil uma situação destas acontecer, né? De estar na mesma sala mesmo depois do ensino médio kkkkkkkk eu sou uma pessoa muito sortuda de ter você como amiga 😭 todos deveriam ter uma Elizabete no ciclo de amizade, devia ser obrigatório! Quem que vai me mandar uma mensagem falando que olhou pro Ea-Nasir e lembrou de mim??? É muito emocionante, cara 😔.</p>

            <p>E aliás, um grande ponto alto foi ter conhecido o Nicolas agora na Fatec. Ele é um cara muito legal, queria mandar um salve para ele aqui pois ele é mestre das programações e mestre dos games, cara realmente muito gente boa! Desejo um feliz ano novo para ele também! 🙏</p>

            <p>Eu não sou o melhor com textos... Mas não queria deixar em branco a recordação. Muito obrigado mesmo, Bete, vocês foram enviados por Deus, eu não tenho nem dúvidas! Inclusive, Deus abençoe você!</p>

            <p>2026 vai ser redentor em todos os sentidos. Até a Fatec 😎!</p>

            <p style="color: gray"><small><i>Você recebeu uma senha especial, que só poderá ser usada se todos compartilharem um fragmento dela.</i></small></p>
            <p style="color: gray"><small><i>Seu fragmento é: </i></small><h3>"N"</h3></p>

            <a href="pages/newyear" class="btn btn-danger">Voltar</a>
        </div>
    </div>
{% endblock %}


