<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Dronesounds - Sobre nós </title>
        <link rel="stylesheet" href="./styles/style.css">
    </head>
    <body>

        <header>
        <a href="/index.html" class="homepage"> Dronesounds.org </a>
            <nav>
                <a class="palpatine" href="./main/sobrenos.html">Sobre nós</a>
                <a class="palpatine" href="./main/contato.html">Contato</a>
            </nav>
        </header>

  <main>
    <article>
      <h2>Sobre nós</h2>
      <p> Site criado por <b>Heitor Galvão Junqueira.</b></p>
      <p> Músico e Programador.</p>
      <p> Este site foi criado com uma missão: Ensinar teoria musical de qualidade para todo mundo! O maior
        problema é a falta de uma educação centralizada com um conteúdo que deveria ter um acesso universal e 
        democrático para todos! </p>
      <p>Usuários podem postar seu progresso com nossa comunidade! Apenas siga as diretrizes
        primeiro.</p>
      
    </article>  

  </main>



        <footer>
        <p> <i>Heitor G. 2025. Todos os direitos reservados </i> </p>
        </footer>
    </body>
</html>


