<div class="lateralgrad bg-dark mb-5 border-bottom">
    <nav class="d-flex flex-row">
        <a class="p-3 display-3" href="{{url_for('home')}}"> Dronesounds.org </a>
        <a class="p-5 lateralgrad border-start" href="{{url_for('sobrenos')}}">Sobre nós</a>
        <a class="p-5 lateralgrad border-start" href="{{url_for('contato')}}">Contato</a>
        <a class="p-5 lateralgrad border-start" href="#">Tablaturas</a>
        <a class="p-5 lateralgrad border-start" href="#">Outros</a>
    </nav>
</div>
