a{
  color:rgb(187, 105, 173)
}

a:hover{
  color:rgb(230, 196, 224);
  background-color: rgba(127, 255, 212, 0.103);
}

body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* BACKGROUND ESTELAR*/

.starrynight{
  background-image: url('https://sadhost.neocities.org/images/tiles/stars3.gif');
}

/* CORES DE FUNDO PARA CONTEÚDO*/
.contentbg{
  background: linear-gradient(#3f343a, #2c272a, #181517);
}

.contentbg2{
  background: linear-gradient(#3f343a, #c45597, #181517);
}

/* GRADIENTE LATERAL*/

.lateralgrad{
  background: linear-gradient(to right, #2c272a, #18151700, #18151700);
}