:root {
  /* isso não faz coisa nenhuma */
  --bs-primary: #3b1b2b;
  --bs-secondary: #a34e72;
  --bs-success: #be4d99;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;

  /* aqui que tá o caldo */
  --bs-primary-rgb: 59, 90, 43;
  --bs-secondary-rgb: 70, 126, 20; 
}

p, h1, h2, h3, h4, h5, h6{
  color: white;
}